---
layout: litle
---


	{% include header.html %}
	
	<div class="container">
		
		<div class="row" id="dev-main">	
			<div class="twocol" id="leftCol">
				{% include menu.html %}
			</div>
			<div class="ninecol last" id="devContent">
				<section class="panel twelvecol">
					<p></p>				
					<h1>Transact by Litle &amp; Co.</h1>
					<p>Our payments integration platform does the heavy lifting so you don’t have to. Simply install the language-specific SDK you need to start transacting with Litle.</p>
				</section>

				{% include feature-blocks.html %}

			</div>
		</div> <!-- /#dev-main -->
	</div><!-- /container -->