{% include head.html %}

<body>

{% include sub-page-header.html %}
	
	<div class="container">
		
		<div class="row" id="dev-main">	
			<div class="twocol" id="leftCol">
				{% include menu.html %}
			</div>
			<div class="ninecol last" id="devContent">
				<section class="panel twelvecol">
					{exp:channel:entries channel="developers"}
						<h1 class="page-title">{dev-title}</h1>
						<p>{dev-desc}</p>				
						{dev-body}
					{/exp:channel:entries}	
				</section>
			
			</div>
		</div> <!-- /#dev-main -->
	</div><!-- /container -->
	
    {% include footer.html %}

</body>
</html>