					<section id="blocks" class="twelvecol">
						<article id="fast" class="block fourcol">
							<div class="blockImage">
								<img src="{{site.litle_url | append: '/themes/site_themes/corp/images/DEV-fast_easy.png'}}" alt="Fast &amp; Easy" />
							</div>
							<p>Our language-specific SDKs help you integrate quickly so you can start transacting with Litle.</p>
						</article>
						<article id="revenue" class="block fourcol">
							<div class="blockImage">
								<img src="{{site.litle_url | append: '/themes/site_themes/corp/images/DEV-revenue_lift.png'}}" alt="Revenue Lift" />
							</div>
							<p>Less time spent on integration means more time spent focusing on your business. Plus, you can access our value-added solutions quickly and easily.</p>
						</article>
						<article id="security" class="block fourcol last">
							<div class="blockImage">
								<img src="{{site.litle_url | append: '/themes/site_themes/corp/images/DEV-security.png' }}" alt="Security" />
							</div>
							<p>Our SDKs ensure the highest level of security for our merchants.</p>
						</article>
					</section>