<div id="footer">
	<div class="row">
    <div class="twelvecol">
      <div class="hr"><hr /></div>
        <!-- Footer Bottom Left -->
        <div class="eightcol">
          <div class="copyright">
            <div class="twelvecol">
             <small>Copyright &copy;2013 Litle & Co.. Litle & Co. is a subsidiary of <a href="http://www.vantiv.com" target="_blank" title="Vantiv - Innovative Payment Strategies and Technology Solutions"> Vantiv</a> | All Rights Reserved.</small>
            </div>
             <div class="iso">
              Litle &amp; Co. is a registered ISO/MSP of Wells Fargo Bank NA, Walnut Creek CA. | 
              Litle &amp; Co. is a registered ISO/MSP of Fifth Third Bank, Cincinnati, OH.
            </div>
          </div>
        </div>
        <!-- /Footer Bottom Left -->
        <!-- Footer Bottom Right -->
        <div class="fourcol last">
         <div class="meta-links clearfix">
          <p><a href="{{ site.litle_url | append: 'about-us/terms-of-use'}}" alt="Terms of Use" title="Terms of Use">Terms of Use</a> <span>|</span> <a href="{{ site.litle_url | append: 'about-us/privacy-policy' }}" alt="Privacy Policy" title="Privacy Policy">Privacy Policy</a> <span>|</span> <a href="{{ site.litle_url | append: 'sitemap'}}" alt="Sitemap" title="Sitemap">Sitemap</a></p>
        </div>
      </div>
      <!-- /Footer Bottom Right -->

    </div>
  <!-- /Footer Bottom -->	
  </div>
</div>