<body>
	<header class="header">
		<div class="container" id="header">
			<div class="row" id="top-bar">
				{% include global-top-nav.html %} 
			</div>

			
			<div class="row">
				<div id="logo"><a href="{path='developers'}">Transact</a></div>
				<div id="logo-text">Payments Integration Platform</div>
				<div id="company"><img src="{site_url}themes/site_themes/corp/images/DEV-credit.png" border="0" alt="" /></div>	
			</div>


			<div class="row" id="headline-top">
				<div class="cta-feature">
						<a href="{path='developers/processing-overview'}">
							<img src="{site_url}themes/site_themes/corp/images/DEV-quickstart.png" alt="0" />
						</a>
				</div>

			</div>
		
		</div>
	</header>