<!--{html_head} -->
	   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.litle.com/images/uploads/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.litle.com/images/uploads/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="https://www.litle.com/images/uploads/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="https://www.litle.com/images/uploads/favicon.png">
    <title>Developers | Litle & Co.</title>
    <meta name="description" content="The leading authority in eCommerce and online payment processing. Learn how we can help your business at www.litle.com.">  

    <meta property="og:description" content="The leading authority in eCommerce and online payment processing.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.litle.com/">
    <meta property="og:image" content="https://www.litle.com/images/uploads/litle-128.png">

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic,300italic,100italic,100,300|Arvo">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link media="screen" rel="stylesheet" type="text/css" href="https://www.litle.com/images/uploads/dev.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--{html_head_end}	-->
