<section id="overview">
	<header class="category">Overview</header>
	<ul>
		<li><a href="{{site.url | append: 'why-us' }}">Why Us?</a></li>
		<li><a href="{{site.url | append: 'processing-overview' }}">Processing Overview</a></li>
		<li><a href="{{site.url | append: 'litle-sandbox' }}">Litle Sandbox</a></li>	
		<li><a href="{{site.url | append: 'security' }}">Security</a></li>
		<li><a href="{{site.url | append: 'certification-process' }}">Certification Process</a></li>		
	</ul>
</section>
<section id="sdk-libraries">
	<header class="category">SDK Libraries</header>
	<ul>
		<li><a href="{{site.url | append: 'php'}}">PHP</a>
			<ul>		
				<li><a href="{{site.url | append: 'php/php-examples'}}">PHP Examples</a></li>
			</ul>
		</li>
		<li><a href="{{site.url | append: 'ruby/'}}">Ruby</a>
			<ul>
				<li><a href="{{site.url | append: 'ruby/ruby-examples'}}">Ruby Examples</a></li>
			</ul>
		</li>
		<li><a href="{{site.url | append: 'java/'}}">Java</a>
			<ul>
				<li><a href="{{site.url | append: 'java/java-examples'}}">Java Examples</a></li>
			</ul>
		</li>

		<li><a href="{{site.url | append: 'dotnet'}}">.NET</a>
			<ul>
				<li><a href="{{site.url | append: 'dotnet/dotnet-examples'}}">.NET Examples</a></li>
			</ul>
		</li>

		<li><a href="{{site.url | append: 'python'}}">Python</a>
			<ul>
				<li><a href="{{site.url | append: 'python/python-examples'}}">Python Examples</a></li>
			</ul>
		</li>

	</ul>
</section>
<section id="extensions">
	<header class="category">Extensions</header>
	<ul>
		<li><a href="{{ site.url | append: 'magento'}}" target="_blank">Magento</a></li>
	</ul>
</section>
<section id="help-support">
	<header class="category">Help &amp; Support</header>
	<ul>
		<li><a href="{{site.url | append: 'faqs'}}">FAQ’s</a></li>
		<li><a href="{{site.url | append: 'contact-us'}}">Contact Us</a></li>
		<li><a href="{{site.url | append: 'useful-links'}}">Useful Links</a></li>	
	</ul>
</section>