<section id="overview">
	<header class="category">Overview</header>
	<ul>

		{exp:channel:entries channel="developers" category="92" dynamic="off"}
			<li><a href="{page_url}">{title}</a></li>
		{/exp:channel:entries}
	
	</ul>
</section>	
<section id="sdk-libraries">
	<header class="category">SDK Libraries</header>
	<ul>
		<li><a href="{path='developers/php'}">PHP</a>
			<ul>		
				<li><a href="{path='developers/php/php-examples'}">PHP Examples</a></li>
			</ul>
		</li>
		<li><a href="{site_url}developers/ruby/">Ruby</a>
			<ul>
					<li><a href="{path='developers/ruby/ruby-examples'}">Ruby Examples</a></li>
				</ul>
			</li>
			<li><a href="{site_url}developers/java/">Java</a>
				<ul>
					<li><a href="{path='developers/java/java-examples'}">Java Examples</a></li>
				</ul>
			</li>
			
			<li><a href="{path='developers/dotnet'}">.NET</a>
				<ul>
					<li><a href="{path='developers/dotnet/dotnet-examples'}">.NET Examples</a></li>
				</ul>
			</li>

                        <li><a href="{path='developers/python'}">Python</a>
				<ul>
					<li><a href="{path='developers/python/python-examples'}">Python Examples</a></li>
				</ul>
			</li>
			
	</ul>
</section>
<section id="extensions">
	<header class="category">Extensions</header>
	<ul>
	    <li><a href="{path='developers/magento'}" target="_blank">Magento</a></li>
	</ul>
</section>
<section id="help-support">
	<header class="category">Help &amp; Support</header>
	<ul>
		{exp:channel:entries channel="developers" category="100" dynamic="off"}
			<li><a href="{page_url}">{title}</a></li>
		{/exp:channel:entries}
	</ul>
</section>	